.Ocn{
	background-color:#786565;
}

.Global {
	text-align: center;
	font-size: 4vw;
	color: #ffffff;
	margin: 80px;
	
}

.Menu{
	text-align: center;
	font-size: 1.5vw;
	color: #FF0000;
	margin: 0;
	background-color:#CBB6B6;
	border-radius: 15px;
}
.nav-item{
	margin-left: 3.3em;
	margin-right: 3.3em;
}
.nav a:link {
  color: #FF0000;
}
.nav a:visited {
  color: #FF0000;
}
.nav a:hover:after {
  color: #FF0000;
  
}
.nav a:active:after {
  color: #FF0000;
} 
.paint {
	border-radius: 2.5vw;
}

.box {
	border-color:#FF0000;	
	}
.textt{
	border-radius:2.5vw;
	border-style:solid;
	border-color:#FF0000;
	border-width: 0.2vw;
	color: #000000;
}


.mflex1{
	margin-left:13vw;
}
.gr a{
	color: #333333;
	text-decoration: none;
}
.gr a:hover{
	color: #333333;
}
.main-log{
	font-size: 2.5vw; 
	border-style: solid; 
	border-color:#FF0000; 
	border-width: 0.3vw; 
	width:60vw; 
	padding: 2.5vw; 
	margin-left: 24vw; 
	margin-top: 2vw;
	font-weight: 500;
	color: #000000;
}
.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:repeat (3 ,5vw);
	grid-gap: 10px;
}
.gallery__item--1 {
	grid-column-start:1;
	grid-column-end:1;
	
}
.gallery__item--2 {
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end: 2;
}
.gallery__item--3 {
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end: 3;
}